<%= form_for(@screencast) do |f| %>
  <% if @screencast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@screencast.errors.count, "error") %> prohibited this screencast from being saved:</h2>

      <ul>
      <% @screencast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
