<p id="notice"><%= notice %></p>

<h1>Listing Screencasts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screencasts.each do |screencast| %>
      <tr>
        <td><%= screencast.title %></td>
        <td><%= screencast.url %></td>
        <td><%= screencast.price %></td>
        <td><%= link_to 'Show', screencast %></td>
        <td><%= link_to 'Edit', edit_screencast_path(screencast) %></td>
        <td><%= link_to 'Destroy', screencast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Screencast', new_screencast_path %>
