<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <h1>New Post</h1>
    <%= form_for(@post, class: 'form') do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class='form-inputs'>
        <div class="form-group field">
          <%= f.label :title, class: 'control-label' %><br>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group field">
          <%= f.label :body, class: 'control-label'  %><br>
          <%= f.text_area :body, class: 'form-control' %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit 'Create', class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
