<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='main'>
    <h1><%= link_to 'My Awesome Site', root_path %></h1>
    <nav>
      <%= link_to 'Posts', posts_path %>
      <%= link_to 'About', about_path %>
    </nav>
  </header>
  <div class='container'>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, { class: name }) %>
    <% end %>
    <%= yield %>
  </div>
  <footer>
    <%= params.inspect if Rails.env.development? %>
    Made by justin
  </footer>
</body>
</html>
